<header class="sticky top-0 inset-x-0 flex flex-wrap sm:justify-start sm:flex-nowrap z-30 w-ful border-b border-gray-400 text-sm py-3 sm:py-0 bg-gray-700">
  <nav class="relative max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" aria-label="Global">
    <div class="w-full text-4xl text-accent-color tracking-wider">
      <%= @product.name %>
    </div>
    <div id="navbar-collapse-with-animation" class="hs-collapse overflow-hidden transition-all duration-300 basis-full grow">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-5 sm:flex-row sm:items-center sm:justify-end sm:gap-y-0 sm:gap-x-7 sm:mt-0 sm:pl-7 p-5">
        <% if @product.published? %>
          <%= render 'product_unpub', product: @product%>
        <% else %>
          <%= render 'product_pub', product: @product%>
        <% end %>
        <%= link_to product_publish_path(@product), data: { "turbo-method": :patch }, class: "group relative inline-block text-sm font-medium text-gray-500 focus:outline-none focus:ring active:text-orange-400" do%>
          <span class="absolute inset-0 border border-current"></span>
          <span class="block border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1">
            Save Change
          </span>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<main id="content" role="main" class="p-4">
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
  <div class="mb-10">Hello</div>
</main>
</html>
